*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  color: #f0f8ff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #1b1b1b;
}

.todo-title {
  text-align: center;
  margin: 1rem auto;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50vh;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 5rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #3b3b3b;
}

.todo-text {
  letter-spacing: 0.05rem;
}

.todo > button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ff0000;
  color: #ededed;
  padding: 0.1rem 1.2rem;
  border-radius: 1rem;
}

.complete {
  text-decoration: line-through;
  color: #b3b3b3;
}

.todo-form {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 2rem auto;
}

.todo-form input {
  background-color: #0b0b0b;
  width: 40%;
}

.todo-form button {
  cursor: pointer;
  background-color: #000000;
}

.todo-form * {
  outline: none;
  border: none;
  color: #ededed;
  padding: 0.3rem 1.2rem;
}
